environments:
  tasks: 
    - "reach-v3"
    - "push-v3" 
    - "pick-place-v3"
  seeds: [2000, 3000, 4000] 
  
  parallel:
    enabled: true          
    num_envs: 8
    strategy: "sync"
   
hyperparameters:
  total_steps: 150000
  start_steps: 10000
  max_episode_steps: 400
  batch_size: 2048 
  eval_interval: 10000
  replay_buffer_size: 1000000
  hidden_dims: [256, 256]
  updates_per_step: 0.25 
  eval_episodes: 5
  
  defaults:
    gamma: 0.99
    tau: 0.005
    actor_lr: 0.0006
    critic_lr: 0.0006
    alpha_lr: 0.00005
    init_alpha: 0.2  
    auto_alpha: True
    scale_rewards: 1

    target_mean_success: 0.8 
    patience: 3            

  tasks:
    reach-v3:
      init_alpha: 0.2
      scale_rewards: 10

    push-v3:
      scale_rewards: 10
    pick-place-v3:
      init_alpha: 1.0
      target_mean_success: 0.8
      scale_rewards: 1

pruning:
  sparsity: 0.8
  rewind_steps: 20000