environments:
  tasks: 
    - "reach-v3"
    # - "push-v3" 
    # - "pick-place-v3"
  seeds: [420] # 5 seeds
  

hyperparameters:
  total_steps: 150000
  start_steps: 10000
  max_episode_steps: 400
  batch_size: 256
  eval_interval: 10000
  replay_buffer_size: 1000000
  hidden_dims: [256, 256, 256]
  
  # Default Hyperparameters (Base SAC)
  defaults:
    gamma: 0.99
    tau: 0.005
    actor_lr: 0.0003
    critic_lr: 0.0003
    alpha_lr: 0.0003
    init_alpha: 0.2  

    target_mean_success: 0.8 
    patience: 3            

  # Per-Task Overrides 
  tasks:
    reach-v3:
      init_alpha: 0.2

    push-v3:
      init_alpha: 1.0
      target_entropy_scale: 1.0
      
    pick-place-v3:
      init_alpha: 1.0
      target_mean_success: 0.8

pruning:
  sparsity: 0.8